.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 700px) {
    .NavigationItems {
        flex-flow: row;
        
    }
}
.btnApplyNowHeader {
    width: 130px;
    height: 35px;
    background-color: #09c;
    border: 1.5px solid #09c;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 3px;
    transition: .2s;
    color: #fff;
    padding: -4px;
    position: relative;
    top: 3px;
}