@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1{
    margin: 0 0 30px;
}

.accordion{
    width: 50%;
    background: rgb(255, 255, 255);
}

.accordion-tab > .accordion-toggle{
    position: absolute;
    display: none;
    
}
.accordion-tab {
    color: #000c4b;
    background: #d4eaea;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 13px 20px 13px 20px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    text-align: left;
}

.accordion-tab > label{
    color: #000c4b;
    background: #d4eaea;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 13px 20px 13px 20px;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.accordion-tab > .accordion-content{
    max-height: 0;
    transition: all .40s;
    overflow: hidden;
}

.accordion-tab > label:after {
    content: '\f078';
    position: absolute;
    top: 13px;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(0deg);
    transition:transform .30s ;
}

.accordion-tab > .accordion-toggle:checked ~ label:after{
    transform: rotate(180deg);
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
}

.accordion-tab > .accordion-content p {
    margin: 10px 0px 0px 50px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.5;
}
.newtext{
    padding-left: 25px;

}